extends ../templates/layout

block content 
    h3 Editar un entrenador
        div 
            form(method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${entrenador.nombre}`)
                br
                label(for="especialidad") Especialidad:
                input(type="text", name="especialidad", value=`${entrenador.especialidad}`)
                br
                label(for="nivel_experiencia") Nivel experiencia:
                input(type="text", name="nivel_experiencia", value=`${entrenador.nivel_experiencia}`)
                br
                input(type="hidden", name="id", value=`${entrenador.id}`)
                input(type="submit", value="Enviar")
