h2 Gestión Gimnasio
nav 
    ul 
        li 
            a(href="/") Inicio 
        li 
            a(href="/clientes") Clientes 
        li 
            a(href="/entrenadores") Entrenadores 
        li 
            a(href="/planes") Planes de membresía 
        li 
            a(href="/sesiones") Sesiones
        li
            a(href="/auth/logout") Cerrar Sesion
            